# Dependencies
node_modules/

# Environment Variables
.env
.env.local

# Build Folders
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Coverage
coverage/